.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #FF0000;
    text-align: center;
    text-shadow: 2px 2px #7b0688;
}

h2 {
    color: #FF0000; 
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}

ul {
    text-align: center;
    list-style-position: inside;
    color: #FF0000;
    font-size: 20px;
}

body {
    background-color: #000000;
}